/*laptops*/
body {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

#navbar {
  position: fixed; /* Make it stick/fixed */
  top: 0; /* Stay on top */
  transition: top 0.3s;
  z-index: 2;
  font-size: 19px;
  background-color: white;  /* border-bottom: 1px solid black; */
  height: 13%;
  padding-left: 84%;
}

.tab {
  font-size: 20px;
}

.home-pic {
  width: 100%;
  padding: 0;
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  float: left;
  height: 50%;
}

#me-pic {
  position: absolute;
  left: 10%;
  color: white;
  vertical-align: center;
  margin: 0 auto;
  top: 30%;
  width: 22%;
}

.title-text {
  position: absolute;
  text-align: center;
  font-size: 45px;
  color: black;
  text-align: center;
  font-weight: bold;
}

.subtitle-text {
  position: absolute;
  top: 50%;
  left: 35%;
  font-size: 25px;
  color: white;
  text-align: center;
  font-weight: bold;
  text-align: left;
}

ul {
  width: 100%;
  display: inline-block;
  padding-left: 73%;
  padding-top: 2%;
}

li {
  display: inline-block;
}

li a {
  text-decoration: none;
  font-size: 1.4vw;
  margin: 10px;
  font-weight:bold;
  color: #FFAE43;
}

li a:hover {
  text-decoration: none;
  color: black;
  border-bottom: black 3px solid;
}

.active {
  color: black;
  border-bottom: black 3px solid;
}

.contact-icons  {
  position: absolute;
  left: 35%;
  bottom: 30%;
  width: 40%;
}

.contact-icons a {
  margin-right: 7%;
}

.contact-icons a img:hover{
  filter: invert(100%);
}


/* #about-section {
  margin-top:450px;
  margin-bottom: 40px;
  padding-top: 20px;
  text-align: center;
  /* padding-left: 20%;
  padding-right: 20%; */
  /* background-color: red;

} */

.footer {
  background-color: white;
  margin: 0 auto;
  text-align: center;
  padding: 3%;
  /* margin-top:880px; */
  position: absolute;
  top: 719%;
  width: 100%;
}

.footer a {
  margin-right: 2%;
}

.footer a img:hover {
    filter: invert(50%);
}

.animation {
  font-weight: 900;
  /* font-size: 3.3em; */
}

.animation .text-wrapper {
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
  margin-top: 140px;
  margin-left: 34.5%;
}

.animation .letter {
  display: inline-block;
  line-height: 1em;
}

.about-title {
  position: absolute;
  font-weight: 600;
  font-size: 60px;
  /* background-color: red; */
  top: 113%;
  margin-left: 38.5%;
  margin-right: 38.5%;
  text-align: center;
  text-shadow: 2px 2px 3px black;
  color: white;
    text-align: center;
}

.about-title2 {
  position: absolute;
  font-weight: 600;
  font-size: 60px;
  /* background-color: red; */
  top: 308%;
  margin-left: 38.5%;
  margin-right: 38.5%;
  text-align: center;
  text-shadow: 2px 2px 3px #000000;
  color: white;
    text-align: center;
}

#about-me {
  width: 80%;
  height: 136%;
  top: 153%;
  position: absolute;
  margin-left: 10%;
  /* background-color: red; */
  margin-right: 10%;
  text-align: center;
  overflow: scroll;

}

#about-me-section {
  background-color: red;
  top:  300%;

}

.about-text-intro {
  font-size: 39px;
  font-weight: bold;
}

.about-text-general {
  font-size: 20px;
}

.container-fluid {
  position:absolute;
  top: 338%;
  /* background-color: red; */
}

#tech-pic1 {
  padding: 0;
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  float: left;
  width: 100%;
  height: 45%;
  top: 100%;
}

#tech-pic2 {
  padding: 0;
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  float: left;
  width: 100%;
  height: 45%;
  top: 293%;
  /* margin-top: 300%; */
}

.dot {
height: 17px;
width: 17px;
background-color: #FFAE43;
border-radius: 50%;
display: inline-block;
}

.dot4 {
  height: 17px;
  width: 17px;
  background-color: #FD7001;
  border-radius: 50%;
  display: inline-block;
}

.dot3 {
  height: 17px;
  width: 17px;
  background-color: #FD1801;
  border-radius: 50%;
  display: inline-block;
}

.dot2 {
  background-color: #FD019A;
  height: 17px;
  width: 17px;
  border-radius: 50%;
  display: inline-block;
}

.dot1 {
  background-color: #C401FD;
  height: 17px;
  width: 17px;
  border-radius: 50%;
  display: inline-block;
}
.skills-list {
  /* background-color: blue; */

}

.skills-names {
  /* background-color: red; */
  width: 50%;
  float:left;
  padding-right: 3%;
  bottom: 200%;

}

.skills-dots {
  /* background-color: blue; */
  margin-top: 0.8%;
  width: 50%;
  float:left;
}

.float-right {
  float: right;
  text-align: right;
}

.float-left {
  float: left;
}

.st-info {
  background-color: #00CE88;

}

.st-pics {
  /* border: 2px black solid; */
  background-color: #EBEBEB;
}

.all-infos {
  padding: 6%;
  padding-top: 4%;
  text-align: center;
  font-size: 20px;

}

.city-pic {
  padding: 0;
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  float: left;
  width: 100%;
  height: 45%;
  top: 100%;
}

.pbl-info {
  background-color: #E47380;

}

.pbl-pics {
  /* background-color: #EBEBEB; */
}

.hearsay-info {
  background-color: #672E6A;
  color: white;
}

.hearsay-pics {
  background-color: #EBEBEB;
}

.website-info {
  background-color: #FFAE43;
}

.website-pics {

}

.desc {
  font-size: 17px;
  margin-top: 3%;
}

.desc-detail {
  font-size: 14px;
  font-style: italic;
}

.box {
  height: 800px;
}

.box-info {
  height: 800px;
}

.row {
  height: 100%;
}

.line {
  display:block;
  width:30%;
  border-top: 1px solid black;
  display: block;
  margin:10px 10px 0 0;
  margin-left: 35%;
  margin-top: 3%;
  margin-bottom: 3%;
  text-align: center;
}

.desc-title {
  font-weight: bold;
  /* color: red; */
}

.image {
  width: 100%;
  margin-top: 3%;
  border-radius: 6px;
  border: black 1px solid;
}

.work-text {
  padding: 12%;
  margin-top: 34%;
  /* text-align: center; */
}

.work-subtitle {
  font-size: 20px;
  font-style: italic;
}

.pics {
  overflow: scroll;
}

/*ipads*/

/*ipad vertical*/
@media only screen and (min-device-height: 1024px) and (max-device-height: 1026px) {
  .animation .text-wrapper {
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.03em;
    padding-bottom: 0.1em;
    overflow: hidden;
    margin-top: 355px;
    margin-left: 34.5%;
  }
  .contact-icons {
    position: absolute;
    left: 35%;
    bottom: 38%;
    width: 40%;
  }

  #me-pic {
    position: absolute;
    left: 10%;
    color: white;
    vertical-align: center;
    margin: 0 auto;
    top: 40%;
    width: 22%;
  }

  .box-info {
    height: 300px;
  }

  .box {
    height: 800px;
  }
}

/*ipad pro vertical*/
@media only screen and (min-device-height : 1350px) {
  .animation .text-wrapper {
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.03em;
    padding-bottom: 0.1em;
    overflow: hidden;
    margin-top: 510px;
    margin-left: 34.5%;
  }
  .contact-icons {
    position: absolute;
    left: 35%;
    bottom: 42%;
    width: 40%;
  }

  #me-pic {
    position: absolute;
    left: 10%;
    color: white;
    vertical-align: center;
    margin: 0 auto;
    top: 40%;
    width: 22%;
  }
}

/*mobile*/
@media only screen and (max-device-height : 736px) {
  .title-text {
    position: absolute;
    bottom: 50%;
    left: 44%;
    text-align: center;
    font-size: 26px;
    color: black;
    text-align: center;
    font-weight: bold;
  }

  .subtitle-text {
    position: absolute;
    top: 50%;
    left: 44%;
    font-size: 12px;
    color: white;
    text-align: center;
    font-weight: bold;
    text-align: left;
  }
  #me-pic {
    position: absolute;
    left: 10%;
    color: white;
    text-align: center;
    margin: 0 auto;
    top: 43%;
    width: 30%;
  }

  .contact-icons {
    position: absolute;
    left: 44%;
    bottom: 36%;
    width: 40%;
  }

  ul {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    width: 100%;
    display: block;
    padding-left: 55%;
    padding-top: 2%;
  }

  li a {
    text-decoration: none;
    font-size: 2.3vw;
    margin: 10px;
    font-weight:bold;
    color: #FFAE43;
  }

  .animation .text-wrapper {
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
    margin-top: 60%;
    margin-left: 44%;
    font-size: 5.4vw;
  }
}

@media only screen and (max-device-width: 991px) {
  .box {
    height: 200px;
    /* background-color: red; */
  }
}

/*large iphones*/
@media only screen and (min-device-height : 811px) and (max-device-height : 1000px){
  .animation .text-wrapper {
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
    margin-top: 170px;
    font-size: 5.4vw;
    margin-left: 44%;
    /* background-color: red; */
  }

  .title-text {
    position: absolute;
    bottom: 50%;
    left: 44%;
    text-align: center;
    font-size: 26px;
    color: black;
    text-align: center;
    font-weight: bold;
  }

  .subtitle-text {
    position: absolute;
    top: 50%;
    left: 44%;
    font-size: 12px;
    color: white;
    text-align: center;
    font-weight: bold;
    text-align: left;
  }
  #me-pic {
    position: absolute;
    left: 10%;
    color: white;
    text-align: center;
    margin: 0 auto;
    top: 43%;
    width: 30%;
  }

  .contact-icons {
    position: absolute;
    left: 44%;
    bottom: 36%;
    width: 40%;
  }

  ul {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    width: 100%;
    display: block;
    padding-left: 55%;
    padding-top: 2%;
  }

  li a {
    text-decoration: none;
    font-size: 2.3vw;
    margin: 10px;
    font-weight:bold;
    color: #FFAE43;
  }

}
